<div class="jumbotron text-center">
  <h1><%= @campaign.name %></h1>
</div>

<% curr_time = Time.now %>

<% if @campaign.finished?(curr_time) %>
  <h2>This campaign has ended.</h2>
<% end %>

<% songs = @campaign.song.to_a.clone %>

<%= render partial: "shared/song_list_with_form", object: songs, locals: {
  campaign: @campaign, render_form: @campaign.pledge_phase?(curr_time),
  render_pledge_phase_links: @campaign.pledge_phase?(curr_time),
  render_buy_phase_links: @campaign.buy_phase?(curr_time), render_stats: true
} %>
